**/bin/
**/obj/
**/.direnv/

# Ignore for Vitepress Docs
**/node_modules
**/.vitepress/cache
**/.vitepress/dist

# secret-scratchpad/
**/keys

**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup

**/vault.crt